/* here you can put your own css to customize and override the theme */

.quick-nav.nav-is-visible+.quick-nav-overlay {

    background-image: url(/img/beyeu.jpg);
    background-size: cover;
}

#nyancat {
    position: absolute;
    height: 60px;
}